@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root {
  --primary: #DA0000;
  --gray: #ebebeb;
  --background: #ffffff;
  --backround-2: #FAF2F2;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary: #FFFFFF;
    --gray: #ebebeb;
    --background: #060606;
    --backround-2: #FAF2F2;
  }
}

body {
  font-family: "Ubuntu", sans-serif !important;
}

p {
  color: var(--gray);

}

bg-red-tint {
  background-color: var(--backround-2);
}

bg-red-primary {
  background-color: var(--primary);
}